<html>
    <form action="/session/create" method="post">
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="password" name="password" placeholder="Enter Your Password" required>
        <button type="submit">Submit</button>
    </form>
</html>