<html>
<form action="/user/add" method="post">
    <input type="text" name="name" placeholder="Enter Your Name" required>
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <input type="password" name="password" placeholder="Enter Your Password" required>
    <input type="password" name="confirmPassword" placeholder="Re-enter Your Password" required>
    <button type="submit">Submit</button>
</form>

</html>